{% extends 'base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'css/detail.css' %}" rel="stylesheet" type ="text/css"/>
{% endblock %}


{% block title %}
    unknowname_{{ article.classify.name }}
{% endblock %}


{% block right %}
    <h1 class='art_title'>
    {{ article.title }}
    </h1>
    <!--<div class='art_date'>-->
        <span class="art_date">
            {{ article.create_date|date:"Y-m-d" }},&nbsp;阅读数:{{ article.reads }}
        </span>
    <!--</div>-->
        <div class='art_content'>
            {% autoescape off %}
            <p>{{ article.content|escape|linebreaksbr }}</p>
            {% endautoescape %}
         </div>
{% endblock %}
