{% extends "base.html" %}
{% load static %}


{% block title %}有关部门_unknowname_{{ classify_name }}{% endblock %}


{% block css %}
<link href="{% static 'blog/css/index.css' %}" rel="stylesheet" type ="text/css"/>
{% endblock %}


{% block archive_year %}
<h4 class="hot_title">历史归档</h4>
    {% for year in years %}
        <p class="left_title"><a href="{% url 'archive' year  %}">{{ year }}</a></p>
    {% endfor %}
{% endblock %}


{% block hot_article %}
<h4 class="hot_title">热门博文</h4>
{% for hot in hots %}
    <p class="left_title"><a href="{{  hot.get_absolute_url }}">{{ hot.title }}</a></p>
{% endfor %}
{% endblock %}


{% block right %}
    {% for article in articles %}
        <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
        {% autoescape off %}
        <div class="art_content">
            {% spaceless %}
            {{ article.content|linebreaksbr|escape|truncatechars_html:"130"|removetags:"p"}}
            <a href="{{ article.get_absolute_url }}">详细</a>
            {% endspaceless %}
        </div>
        {% endautoescape %}
        <div class="art_info">
            {{ article.author }}发表于{{ article.create_date|date:"Y-m-d" }}
        </div>
    {% endfor %}
{% endblock %}


{% block js %}
<script src="{% static 'blog/js/index.js' %}"></script>
{% endblock %}
