div {
    margin: auto auto;
}

.wrapper {
	min-height: auto;
	max-width: auto;
    min-width: 500px;
	background: #f9fbfd;
	margin: 10px 50px;
    border: 1px;
    text-decoration: none;
}


.header {
	  overflow: hidden;
	  min-height: 8.5%;	
}


#logo {
	float: left;
}


.header #menu li {
	float: right;
	list-style-type: none;
	margin: 20px 20px;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}


.main {
    text-align: center;
}


.main #main-left{
	#background: blueviolet;
	float: left;
	min-width: 20%;
	min-height: 850px;
}


.main #main-left-archive {
	background: cornsilk;
	#max-width: 300px;
	margin: 10px 10px;
	min-height: auto;
}




.main #main-right {
    float: left;
	max-width: 80%;
	min-width: 80%;
	min-height: 850px;
    border: solid 1px #dedfe2;
    position: relative;
}

#main-right .art_content {
    text-align: left;
    padding:1px 10px;
    #border: solid 1px #dedfe2;
}


.art_title {
    margin: 40px 5px;
}

.art_date {
    color: #babcbd;
    #background: green;
    position: absolute;
    top: 75px;
    left: 470px;
}

.clear {
    clear: both;
}


.footer {
    clear: both;
    text-align: center;
	#background: lightskyblue;
    min-height: 30px;
    width: auto;
    margin-top: 100px auto;
}
