div {
    margin: auto auto;

}

.wrapper {
	min-height: auto;
	max-width: auto;
    min-width: 500px;
	background: #f9fbfd;
	margin: 10px 50px;
    #border: solid 1px #ced2d6;
    text-decoration: none;
}


/*a {
    text-decoration: none;
}
*/

.header {
	  overflow: hidden;
	  min-height: 8.5%;	
}


#logo {
	float: left;
}


.header #menu li {
	float: right;
	list-style-type: none;
	margin: 20px 20px;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}


.main {
    text-align: center;
}


.main #main-left{
	#background: blueviolet;
	float: left;
	min-width: 20%;
	#min-height: 850px;
	#min-height: 70%;
    #margin-right: 5px;
}


.main #main-left-archive {
	#background: cornsilk;
	#max-width: 300px;
	#min-width: 300px;
	margin: 8px 10px;
	min-height: auto;
    border: solid 1px #dedfe2;
}


.main #main-left-hot {
	#background: cadetblue;
	max-width: 300px;
	margin: 2px 5px;
    #border: solid 1px #f6f7f9;
    border: solid 1px #dedfe2;
}


.hot_title {
    font-size: 20px;
    padding:10px 20px;
    text-align: left;
}


.left_title {
    text-align: left;
    padding:0px 20px;
 }


#main-right {
    float: left;
	#background: maroon;
	#min-width: 80%;
    max-width: 80%;
	min-height: 850px;
    padding: 5px 15px;
    #border: solid 1px #f6f7f8;
    border: solid 1px #dedfe2;
    position: relative;
    #margin: 0px 0px;
	#min-height: 70%;
}

#main-right h3 {
    text-align: left;
}

#main-right .art_content {
    text-align:left;
}

.art_info {
    text-align:left;
    color: #b8babd;
    margin: 2px;
}

#pagintor {
    clear:both;
    #background: green;
    left: 50%;
}


.footer {
    clear: both;
    text-align: center;
	#background: lightskyblue;
    min-height: 30px;
    width: auto;
    padding: 5px;
}
